h2 {
  text-align: center;
  text-transform: uppercase;
  color: #9400D3;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #9400D3;
}

#maindiv {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  background-color: #F7FFC0;
  text-align: center;
}